* {
  box-sizing: border-box;
}
body {
  background: #fcfcfc;
  text-align: center;
}
header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.topRight {
  background: red;
  flex: 50vh;
  height: 100px;
  margin: 0 20px;
}
.topCenter {
  background: #4097df;
  flex: 50vh;
  height: 100px;
  margin: 0 20px;
}
.topLeft {
  background: #43493c;
  flex: 50vh;
  height: 100px;
  margin: 0 20px;
}
.content {
background: #4097df;
display: flex;
flex-direction: column;
}
.right {
  background: red;
  flex: 50vh;
  height: 100px;
  width: 30%;
}
footer {
  background-color: #4097df;
  height: 15vh;
  width: 100%;
  margin: 20px 0;
}
.bottom {
  background-color: red;
  height: 15vh;
  width: 175px;
  float: right;
  padding: 0 15px;
}
.top {
  background: #43493c;
  height: 15vh;
  width: 150px;
}
